*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

:root {
	--clr-icons: #929292;
	--clr-text: #fff;
	--clr-bg-dark: #242424;
	--clr-bg-light: #3b3b3b;
	--clr-accent: #ff7600;
}

body {
	margin: 2em;
	background-color: var(--clr-bg-dark);
	color: var(--clr-text);
	font-family: sans-serif;
	line-height: 1.5;
}

header {
	display: flex;
	align-items: center;
	margin: 2em 0;
}

.nav {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
}

.nav_link {
	color: var(--clr-text);
	text-transform: capitalize;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.title {
	color: var(--clr-accent);
	text-transform: uppercase;
	margin: 0;
	font-size: clamp(2em, 10vw, 6em);
	line-height: 1;
}

.location {
	color: var(--clr-icons);
	margin: 0;
	font-size: 1.2em;
	margin-bottom: 1em;
}
