*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

:root {
	--clr-icons: #929292;
	--clr-text: #fff;
	--clr-bg-dark: #242424;
	--clr-bg-light: #3b3b3b;
	--clr-accent: #ff7600;
}

body {
	margin: 2em;
	background-color: var(--clr-bg-dark);
	color: var(--clr-text);
	font-family: sans-serif;
	line-height: 1.5;
}

header {
	display: flex;
	align-items: center;
	margin: 2em 0;
}

.nav {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
}

.nav_link {
	color: var(--clr-text);
	text-transform: capitalize;
	text-decoration: none;
}

.nav_link:hover,
.nav_link:focus {
	color: var(--clr-accent);
}

img {
	max-width: 100%;
}

.book-btn {
	cursor: pointer;
	display: inline-block;
	background: transparent;
	color: var(--clr-text);
	font-size: 1.2em;
	border: none;
	padding: 0.5em;
	position: relative;
	align-self: start;
	justify-self: start;
}

.book-btn::after {
	content: "";
	position: absolute;
	height: 0.6em;
	background: var(--clr-accent);
	width: 70%;
	left: 6%;
	top: 50%;
	/* border-radius: 10px; */
	z-index: -1;
	transition: 200ms cubic-bezier(1, -0.02, 0.47, 0.99);
	transform-origin: bottom left;
}

.book-btn:hover::after,
.book-btn:focus::after {
	transform: scale(1.275, 1.9);
}

.title {
	color: var(--clr-accent);
	text-transform: uppercase;
	margin: 0;
	font-size: clamp(4rem, 10vw, 12rem);
	line-height: 1;
}

.location {
	color: var(--clr-icons);
	margin: 0;
	font-size: 2rem;
	margin-bottom: 1em;
	/* justify-self: start; */
}

.secondary-images {
	display: flex;
	gap: 0.5em;
}

.secondary-image {
	width: 49%;
}

footer {
	margin-top: 2em;
}

.social-links {
	display: flex;
	gap: 2em;
}

@media (min-width: 800px) {
	body {
		margin: 0;
	}

	.main-grid {
		display: grid;
		grid-template-columns:
			minmax(1em, 1fr)
			repeat(3, minmax(10em, 33em))
			minmax(1em, 1fr);
		gap: 2em;

		position: relative;
	}

	header {
		grid-column: 2 / -1;
		display: grid;
		grid-template-columns: repeat(3, minmax(10em, 33em)) minmax(1em, 1fr);
		gap: 2em;
	}

	.nav {
		grid-column: 2 / 4;
		padding-right: 5em;
		font-size: 1.2em;
	}

	main {
		grid-column: 2 / -1;
		display: grid;
		grid-template-columns: repeat(3, minmax(10em, 33em)) minmax(1em, 1fr);
		gap: 2em;
		grid-auto-flow: dense;
		grid-auto-rows: min-content;
		overflow: hidden;
	}

	main::after {
		content: "";
		position: absolute;
		background-color: var(--clr-bg-light);
		top: 0;
		bottom: 0;
		left: -2em;
		right: 5em;
		grid-column: 3 / 5;
		z-index: -3;
	}

	footer {
		grid-column: 2 / 3;
	}

	.title-location {
		grid-column: 1 / 3;
		grid-row: 1;
		display: flex;
		flex-direction: column;
	}

	.primary-image {
		grid-column: 2 / 5;
		grid-row: 1 / 4;
		height: 100%;
		/* width: 1fr;
		max-width: 100%;
		max-height: 550px;
		object-fit: contain; */
		width: min(1fr, 630px);
		max-height: 560px;
		z-index: -1;
		object-fit: cover;
	}

	.location,
	.description {
		grid-column: 1 / 2;
	}

	.description,
	.book-btn {
		font-size: 1.5em;
	}

	.secondary-images {
		grid-column: 2 / 3;
		margin-top: -1em;
	}

	/* .secondary-image {
		width: 100%;
	} */

	.social-links {
		margin-left: 10%;
	}
}
