*,
*::before,
*::after {
	box-sizing: inherit;
}

.main-grid {
	width: 100%;
	height: 100vh;
	background: #e3f9ff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator-grid {
	background: #3c4144e8;
	padding: 1.8rem;
	border-radius: 0.7rem;
}

.calculator-grid form input {
	border: 0;
	outline: 0;
	width: 5em;
	height: 5em;
	border-radius: 2.5em;
	box-shadow: -6px -4px 15px 0px #e3f9ff26, 8px 7px 20px rgb(0 0 0 / 23%);
	background: transparent;
	font-size: 1em;
	color: #fff;
	cursor: pointer;
	margin: 0.7em;
}

.calculator-grid form input.functional {
	color: rgba(21, 212, 222, 0.959);
}

.calculator-grid form input.operation {
	color: #ec8787;
}

form .display {
	display: flex;
	justify-content: flex-end;
	height: 7em;
	margin-bottom: 2em;
}

form .display input {
	text-align: right;
	flex: 1;
	font-size: 3em;
	box-shadow: none;
	margin: 0;
	height: inherit;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #3a3f43;
	border-radius: 0.5em;
}

form input.equal-btn {
	width: 12.7em;
}
